# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers de build
dist/
build/

# Fichiers de configuration locaux
.env
.env.local
.env.*.local
